{{ define "main" }}
<header class="affiliates text-center">
    <div class="container " style="padding-top: 11rem;">
        <div class="row justify-content-center">
            <div class="col-lg-9">

                <h1>Get Paid. 30% Per Sale</h1>
                <h2>Become our Partner Today.</h2>
                <p class="lead mb-4 mt-3">Recommend our AI website AI Agent to your audience or clients and <span>make
                        extra money.</span></p>

                <div>
                    <a class="btn btn-sm btn-dark text-light px-4 py-2" href="/">Join Affiliate Program</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- INDUSTRIES & LANGUAGES -->
<div class="container-fluid affiliates-industry text-center">
    <h2 class="Industry-h2">Make money with GaliChat. Become our affiliate.</h2>
    <p class="Industry-subheading">Our AI Agent assistant can be customized for any industry
        in only 5 minutes!</p>

    <!-- 1st row with 8 cards -->
    <div class="row justify-content-center mt-4 g-3">
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-heart-pulse"></i> Healthcare</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-credit-card"></i> Finance</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-book"></i> Education</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-cart"></i> Retail</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-house-door"></i> Hospitality</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-building"></i> Real Estate</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-telephone"></i> Consulting</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-truck"></i> Automotive</div>
        </div>
    </div>

    <!-- 2nd row with 6 cards -->
    <div class="row justify-content-center mt-3 g-3">
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-film"></i> Entertainment</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-cup-straw"></i> Food & Beverage</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-emoji-smile"></i> Fitness & Wellness</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-bag"></i> Ecommerce</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-car-front"></i> Transportation</div>
        </div>
        <div class="col-auto">
            <div class="industry-card"><i class="bi bi-balance-scale"></i> Legal</div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2>Get started in 3 easy steps</h2>
        </div>
    </div>

    <div class="row mt-4 g-4 align-items-center">
        <div class="col-md-6 col-12">
            <p><b>Step 1</b></p>
            <h3>Contact Us</h3>
            <p>Contact us to get access to your unique tracking links and to track your earnings.</p>
        </div>
        <div class="col-md-6 col-12">
            <img src="/img/create-account.png" alt="">
        </div>
    </div>

    <div class="row mt-4 g-4 align-items-center">

        <div class="col-md-6 col-12">
            <img src="/img/make-refferals.png" alt="">
        </div>
        <div class="col-md-6 col-12">
            <p><b>Step 2</b></p>
            <h3>Make Refferals</h3>
            <p>Add your unique GaliChat links in your blog posts, social media, or other promotional content. This way,
                any traffic you send will be registered and commisioned.</p>
        </div>
    </div>

    <div class="row mt-4 g-4 align-items-center">
        <div class="col-md-6 col-12">
            <p><b>Step 3</b></p>
            <h3>Get Paid</h3>
            <p>When a sale is made through a GaliChat affiliate link, you will earn 30% of the sale each month for up to
                12 months, as long as the subscription continues. You can check all of your earnings in the dashboard.
            </p>
        </div>
        <div class="col-md-6 col-12">
            <img src="/img/get-paid.png" alt="">
        </div>
    </div>

</div>


<!-- FAQ -->
<section class="py-5" id="faq">
    <div class="container">

        <div class="row  mb-4">
            <h2 class="Features-h2">Frequently asked questions (FAQs)</h2>
            <p class="Features-subheading">See what other people are asking. Don't forget to try the AI Agent available
                on
                the
                website for <br> more information about our tool.</p>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">What is Gali?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I add Gali Chat to my website?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row affiliates-subscribe my-5 ">
            <div class="col-lg-8 mx-auto">
                <h2 class="subscribeh2">Gain a new revenue stream. <br> <span>Become our Partner Today.</span></h2>
                <p class="lead mb-4 mt-3">Earn up to 30% commission per sale. The more you refer, <br> the more you earn!</p>
                <div>
                    <a class="btn btn-sm btn-dark text-light px-4 py-2" href="/">Join Affiliate Program</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}