{{ define "main" }}
<section>
    <div class="container mainheader">
        <h1 class="title-h1">Discover AI Agents</h1>
        <p class="subtitle-p">Explore different AI Agents 1created by the community, each made for specific use cases.
            <br>
            Discover new ideas, get inspired, and see how GaliChat can work for you!
        </p>
    </div>
</section>

<search>
    <div class="container py-5" id="Discover">
        <div>
            <h2 class="title-h2">Business & Marketing</h2>
        </div>
        <div class="card-container mt-5">
            <!-- Card 1 -->
            <div class="card">
                <img src="/img/1.jpeg" alt="Spanish Teacher">
                <div class="card-content">
                    <p class="card-title">Spanish Teacher</p>
                    <p class="card-sub">by <b>Maya</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <img src="/img/2.jpeg" alt="Dream Interpreter">
                <div class="card-content">
                    <p class="card-title">DreamInterpreter AI Agent</p>
                    <p class="card-sub">by <b>Emma</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <img src="/img/3.png" alt="HTML CSS Agent">
                <div class="card-content">
                    <p class="card-title">HTML & CSS AI Agent</p>
                    <p class="card-sub">by <b>Ales</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <img src="/img/4.jpeg" alt="Facebook Ads">
                <div class="card-content">
                    <p class="card-title">Facebook Ads Optimization</p>
                    <p class="card-sub">by <b>Ales</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>
        </div>
    </div>
</search>


<search>
    <div class="container py-5" id="Discover">
        <div>
            <h2 class="title-h2">Programming & Design</h2>
        </div>
        <div class="card-container mt-5">
            <!-- Card 1 -->
            <div class="card">
                <img src="/img/1.jpeg" alt="Spanish Teacher">
                <div class="card-content">
                    <p class="card-title">Spanish Teacher</p>
                    <p class="card-sub">by <b>Maya</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <img src="/img/2.jpeg" alt="Dream Interpreter">
                <div class="card-content">
                    <p class="card-title">DreamInterpreter AI Agent</p>
                    <p class="card-sub">by <b>Emma</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <img src="/img/3.png" alt="HTML CSS Agent">
                <div class="card-content">
                    <p class="card-title">HTML & CSS AI Agent</p>
                    <p class="card-sub">by <b>Ales</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <img src="/img/4.jpeg" alt="Facebook Ads">
                <div class="card-content">
                    <p class="card-title">Facebook Ads Optimization</p>
                    <p class="card-sub">by <b>Ales</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>
        </div>
    </div>
</search>

<search>
    <div class="container py-5" id="Discover">
        <div>
            <h2 class="title-h2">Web 3 & Blockchain</h2>
        </div>
        <div class="card-container mt-5">
            <!-- Card 1 -->
            <div class="card">
                <img src="/img/1.jpeg" alt="Spanish Teacher">
                <div class="card-content">
                    <p class="card-title">Spanish Teacher</p>
                    <p class="card-sub">by <b>Maya</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <img src="/img/2.jpeg" alt="Dream Interpreter">
                <div class="card-content">
                    <p class="card-title">DreamInterpreter AI Agent</p>
                    <p class="card-sub">by <b>Emma</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <img src="/img/3.png" alt="HTML CSS Agent">
                <div class="card-content">
                    <p class="card-title">HTML & CSS AI Agent</p>
                    <p class="card-sub">by <b>Ales</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <img src="/img/4.jpeg" alt="Facebook Ads">
                <div class="card-content">
                    <p class="card-title">Facebook Ads Optimization</p>
                    <p class="card-sub">by <b>Ales</b></p>
                    <div class="card-meta d-flex justify-content-between">
                        <p>Released on: 3/4/2025</p>
                        <p>💬 50</p>
                    </div>
                    <a href="#" class="btn">Open AI Agent</a>
                </div>
            </div>
        </div>
    </div>
</search>

<!-- FAQ -->
<section class="py-5" id="faq">
    <div class="container">

        <div class="row  mb-4">
            <h2 class="Features-h2">Frequently asked questions (FAQs)</h2>
            <p class="Features-subheading">See what other people are asking. Don't forget to try the AI Agent available
                on
                the
                website for <br> more information about our tool.</p>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">What is Gali?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I add Gali Chat to my website?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>

    </div>
</section>



{{end}}