{{ define "main" }}
<section>
    <div class="container mainheader">
        <h1 class="title-h1">Use Cases - viithiiChat AI</h1>
        <p class="subtitle-p">Whether you're selling electronics, fashion, home goods, or any other products, GaliChat helps you create and <br> seamlessly integrate AI Agents into your website.</p>

        <div >
            <a href="#setup" class="btn btn-dark rounded-20">Get Started Now - Free</a>
            <!-- <p class="no-credit-card">No credit card required</p> -->
        </div>
    </div>
</section>

<search>
    <div class="container py-5" id="Discover">
        <div>
            <h2 class="title-h2">AI Agents For Every Business</h2>
            <p>Automate your online store with AI-powered shopping assistants that boost conversions and take care of customer <br> interactions. Spanning across healthcare, finance, retail, and more, GaliChat's AI Agents provide customized solutions.</p>
        </div>
        <div class="card-container mt-5">
            <!-- Card 1 -->
            <div class="card">
                <img src="/img/1.jpeg" alt="Spanish Teacher">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                   <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <img src="/img/2.jpeg" alt="Dream Interpreter">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                    <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <img src="/img/3.png" alt="HTML CSS Agent">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                    <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <img src="/img/4.jpeg" alt="Facebook Ads">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                    <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container mt-5">
            <!-- Card 1 -->
            <div class="card">
                <img src="/img/1.jpeg" alt="Spanish Teacher">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                   <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <img src="/img/2.jpeg" alt="Dream Interpreter">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                    <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card">
                <img src="/img/3.png" alt="HTML CSS Agent">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                    <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="card">
                <img src="/img/4.jpeg" alt="Facebook Ads">
                <div class="card-content">
                    <p class="card-title">AI Agent for Electronics Stores</p>
                    <p class="card-sub"> Boost your Shopify electronics store with an AI agent that enhances customer experience, automates sales, and drives conversions effortlessly.</p>
                    <div class="mt-4">
                       <a href="#" class="btn">Explore AI Agent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</search>




<!-- FAQ -->
<section class="py-5" id="faq">
    <div class="container">

        <div class="row  mb-4">
            <h2 class="Features-h2">Frequently asked questions (FAQs)</h2>
            <p class="Features-subheading">See what other people are asking. Don't forget to try the AI Agent available
                on
                the
                website for <br> more information about our tool.</p>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">What is Gali?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I add Gali Chat to my website?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">Can I use Gali for free?</h5>
                <p class="Features-p">Gali is an advanced, smart AI Agent designed with the latest technology to
                    interact with
                    users by understanding their questions and providing accurate answers. It can comprehend and respond
                    to
                    inquiries in real-time, 24 hours a day, seven days a week.</p>
            </div>
            <div class="col-md-6 col-12">
                <h5 class="mt-3 mb-2">How do I train my AI Agent?</h5>
                <p class="Features-p">To add Gali Chat to your website, you need to create an account, customize your AI
                    Agent, and then copy the code snippet provided to your website’s HTML. The AI Agent will then be
                    live on
                    your website, ready to assist your customers.</p>
            </div>
        </div>

    </div>
</section>



{{end}}