<!-- Newsletter Signup -->
  <div class="content">
    <div class="newsletter-container">
      <h1 class="title">Be the first who see the news</h1>
      <p class="subtitle">Subscribe to our newsletter and get the latest news about</p>
      <p class="promise">Gali. We promise not to spam you.</p>

      <div class="form-container">
        <input type="email" class="email-input" placeholder="Email" required>
        <button class="subscribe-btn" type="submit">Subscribe</button>
      </div>


    </div>
  </div>

  <footer class="container py-5">

    <div class="row">
      <div class="col-md-2 col-6">
        <h2 class="brand-name"></h2>
        <p class="brand-description">
          Your 24/7 AI Support Assistant that helps you to grow your business.
        </p>
      </div>
      <div class="col-md-2 col-6">
        <h3 class="column-title">Usecases</h3>
        <ul class="footer-links">
          <li><a href="#">Book Authors</a></li>
          <li><a href="#">Coaches</a></li>
          <li><a href="#">Course Creators</a></li>
          <li><a href="#">Entrepreneurs</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h3 class="column-title">Getting Started</h3>
        <ul class="footer-links">
          <li><a href="#">How to Start</a></li>
          <li><a href="#">How to Train</a></li>
          <li><a href="#">How to Install</a></li>
          <li><a href="#">Become a partner</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h3 class="column-title">Application</h3>
        <ul class="footer-links">
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Free Demo</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h3 class="column-title">Legal</h3>
        <ul class="footer-links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Cookies Policy</a></li>
          <li><a href="#">GDPR Definitions</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6">
        <h3 class="column-title" >News</h3>
        <ul class="footer-links">
          <li><a href="#">Website AI Agent</a></li>
          <li><a href="#">Design Examples</a></li>
          <li><a href="#">AI Agent vs Live Chat</a></li>
          <li><a href="#">AI Agent vs Conversational AI</a></li>
          <li><a href="#">How to Build AI Agent</a></li>
        </ul>
      </div>
    </div>
  </footer>

<!--================End Footer Area =================-->

{{- partial "script.html" . -}}


</body>

</html>